body {
	font-family: "HelveticaLight";
	
}
p {font-size:16px;}
h1 {font-size:20px;font-weight:bold}
			
			
html {}
/*.wrapper {width: 80%;height: 100%;background-color: #ffffff;	margin-left: 9%;box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.75);}*/

.container{width:1050px; margin:0 auto}

/*HEADER*/
header .headershadow {box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.67);}
/*top menu*/
header .top_bar {height:40px;	 background-color: #333;}
header .top_menu  li{float:left; line-height: 40px;}
header .top_menu  li:first-child {margin-left: 50px;}
header .top_menu  li a{color:#fff; text-decoration: none; font-size: 14px; margin:0 15px; }
header .top_menu  li:hover{background-color:#616161; }
header .private_office {float:right; background-color:#c67707; line-height: 40px; margin-right: 40px;}
header .private_office a{color:#fff; text-decoration:none; padding: 0 20px; font-size: 14px; font-weight:bold;}
header .private_office img{margin-right:15px}

/*main menu*/
header .main_menu_bar {height: 87px;}
header .logo {float:left; margin: 15px 0 0 20px;}
header .main_menu{float:left; line-height: 87px; margin-left:30px; }
header .main_menu  li a{color:#000; text-decoration: none; font-size: 16px; margin:0 15px; }
header .main_menu  li a:hover{text-decoration:underline; }
header ul li { display:inline;}

/*baner*/

/*Content*/
#news h1{margin:10px}
content .column_left{ float: left; width: 33%; text-align:left; }
content .column_center{ display: inline-block; width: 33%; text-align:left; }
content .column_right{ float: right; width: 33%; text-align:left; }
.news_block {width:295px; height:125px; background-color:#dfdfdf; margin: 0 auto; position:relative;}
.news_time{font-size:13px; color:#555; font-weight:bold; padding:7px }
.title_description_news{font-size:14px;  font-weight:bold; margin:15px 0 0 15px; line-height:1.3em;}
.detailed_news{position:absolute;font-size:13px; font-weight:bold; margin-left:15px; bottom:15px;  }


.description p {text-indent: 2em; text-align: justify; line-height:1.3em; margin:10px}
.description h1 {margin:10px}


/* FOOTER*/

footer {height:168px; background: #444;}
.container_footer {width: 1050px;height:100%; margin: 0 auto; }

/*Left column*/
footer .column_left{ float: left; width: 33%;}
footer .copyright {float:left; margin:45px 0 0 50px}
footer .copyright p{ margin-top:30px; color:#eee; font-size: 12px;}

/*Center column*/
footer .column_center{ display: inline-block; width: 33%; text-align: left}
ul.footer_menu {margin-top:30px ; padding: 0;}
ul.footer_menu  li {margin: 15px 0px;}
ul.footer_menu  li a {font-size: 16px; color: #dcdcdc; text-decoration: none;}
ul.footer_menu  li a:hover {color: #fff; text-decoration: none;}

/*Right column*/
footer .column_right{ float: right; width: 33%; text-align: center}
footer .mail {margin-top:40px;}
footer .mail a{color:#6699FF}
footer .telephone_number{margin-top:16px; color:#eee; font-size: 19px; line-height:23px}
